<% include partials/header %>
<% include partials/navigation %>

<h2>peaese select a unit</h2>
<div class="dropdown" style="float:left;">
  <button class="dropbtn">units</button>
  <div class="dropdown-content" style="left:0;">
    <a href="#">com 322</a>
    <a href="#">com 321</a>
    <a href="#">com 380</a>
    <a href="#">com 322</a>
    <a href="#">com 321</a>
    <a href="#">com 380</a>
    <a href="#">com 322</a>
    <a href="#">com 321</a>
    <a href="#">com 380</a>
  </div>
</div>

<div class="dropdown" style="float:"";">
  <button class="dropbtn">More units</button>
  <div class="dropdown-content">
    <a href="#">com 322</a>
    <a href="#">com 321</a>
    <a href="#">com 380</a>
  </div>
</div>